@media screen and (max-width: 1024px) {
    /* estilos para dispositivos con ancho de pantalla menor o igual a 1024 px */
    header .abajo {
      display: flex;
      flex-direction: column;
    }
    header .arriba {
      display: none;
    }
    .ultimas {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .ultimas fieldset {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
  }

  @media screen and (min-width: 1025px) {
    /* estilos para dispositivos con ancho de pantalla mayor a 1025 px */
    header .arriba {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    header .abajo {
      display: flex;
      justify-content: space-between;
    }
  }

header {
    width: 100%;
    overflow: hidden;
    margin-bottom: 15px;
}

.arriba {
    width: 100%;
    max-width: 100%;
    margin: 0%;
    overflow: hidden;
    background: white;
}

header .logo {
    margin-left: 30px;
    float: left;
}

header nav {
    float: right;
    line-height: 200%;
}

header nav a {
    display: inline-block;
    color: black;
    text-decoration: none;
    padding: 10px 20px;
}

.abajo {
    width: 100%;
    max-width: 100%;
    margin: 0%;
    overflow: hidden;
    background: rgba(76, 175, 80, 0.8);;
}

.abajo .izquierda {
    margin-left: 30px;
    float: left;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    gap: 10px;
    font-size: 180%;
    font-weight: bold;
    width: 69px;
    height: 30px;
}
/* Search Bar 6 */
.abajo .derecha {
    margin-right: 20px;
    float: right;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
}

.login {
    font-weight: 600;
    width: 40%;
    font-size: 15px;
    color:#8C30F5;
    margin-right: 10%;
    padding-top:2px;
    padding-bottom:2px;
    padding-left: 10px;
    padding-right:10px;
    background-color: #F1E4FF;
    border-radius:5px;
}

.sign {
    font-weight: 600;
    font-size: 15px;
    width: 40%;
    color:white;
    font-weight: normal;
    padding-top:2px;
    padding-bottom:2px;
    padding-left:10px;
    padding-right:10px;
    background-color:#8C30F5;
    border-radius:5px;
}



/* Rectangle 18 */
.buscador .contenido{
    position: absolute;
    left: 72.4%;
    right: 8.54%;
    top: 3.78%;
    bottom: 91.57%;

    background: #E5E9F2;

    box-sizing: border-box;

    border: 1px solid rgba(0, 0, 0, 0.26);
    border-radius: 100px;
}

/* Group 4 */
.buscador i[role="button"]{
    position: absolute;
    left: 89.4%;
    right: 9.5%;
    top: 5%;
    bottom: 92.21%;
    text-decoration:none;
    font-weight: 600;
    font-size: 15px;
    color:#333333;
}

.icon {
    margin-right: 30px;
    margin-top: 27px;
    height: 60px;
    width: 60px;
    float: right;
    color: #CDDC39;
}
.noticias {
    height: 60%;
    width: 69%;
    float: left;
}

.noticias fieldset{
    background: rgba(155, 187, 89, 0.65);
    border: 0px;
}

.destacados {
    width: 29%;
    float: right;
}

.destacados fieldset{
    background-color: rgba(155, 187, 89, 0.65);
    border: 0px;
}

.ultimas {
    float: left;
    width: 69%;
}

.argentina {
    float: left;
    width: 49%;
}

.argentina .info {
    width: 30%;
    float: right;
    text-align: left;
    margin-right: 5%;
    font-size: 20px;
    font-weight: bold;
}

.argentina img{
    width: auto;
    height: auto;
}

.brasil {
    float: left;
    width: 49%;
}

.brasil img {
    width: auto;
    height: auto;
}

.brasil .info {
    width: 30%;
    float: right;
    text-align: left;
    margin-left: 5%;
    font-size: 20px;
    font-weight: bold;

}

.jugador {
    float: left;
    width: 99%;
    height: 20%;
    margin-bottom: 3%;
    background-color: #FFFFFF;
}

.jugador img {
    float: left;
}

.ultimas .noticia {
    float: left;
    width: 21%;
    margin-left: 1%;
    margin-right: 3%;
}

.ultimas fieldset{
    border: 0px;
}
