/* Frame 1 */

position: relative;
width: 1366px;
height: 768px;

background: #FFFFFF;


/* BG */

position: absolute;
left: 0%;
right: 0%;
top: 10.94%;
bottom: 81.51%;

background: rgba(76, 175, 80, 0.8);
/* Navbar Shadow */
box-shadow: 0px 1px 0px #E5E9F2 ;


/* Right Nav */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 14px;

position: absolute;
left: 82.65%;
right: 2.42%;
top: 11.98%;
bottom: 81.77%;



/* Button */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 10px 20px;
gap: 10px;

width: 77px;
height: 40px;

/* Brand / Purple 100 */
background: #F1E4FF;
border-radius: 6px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Login */

width: 37px;
height: 20px;

/* Label / Medium Label */
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
text-align: center;
font-feature-settings: 'salt' on, 'liga' off;

/* Brand / Purple */
color: #8C30F5;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Button */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 10px 20px;
gap: 10px;

width: 91px;
height: 40px;

/* Brand / Purple */
background: #8C30F5;
border-radius: 6px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Sign up */

width: 51px;
height: 20px;

/* Label / Medium Label */
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
text-align: center;
font-feature-settings: 'salt' on, 'liga' off;

/* Default / White */
color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Left Nav */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 16px 0px 0px;
gap: 40px;

position: absolute;
height: 99.33px;
left: 4.39%;
right: 36.16%;
top: calc(50% - 99.33px/2 - 282.34px);



/* Nav Items */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 50px;

width: 810.87px;
height: 78.94px;

transform: rotate(-0.35deg);

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Header menu / Default */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 10px;

width: 69px;
height: 30px;

transform: rotate(-0.35deg);

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Label */

width: 69px;
height: 30px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 30px;
/* identical to box height, or 125% */
font-feature-settings: 'salt' on, 'liga' off;

/* Text / Gray 900 */
color: #18191F;

transform: rotate(-0.35deg);

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Menu Item / Default */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 10px;

width: 176px;
height: 20px;

transform: rotate(-0.35deg);

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Label */

width: 176px;
height: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 20px;
/* identical to box height, or 83% */
font-feature-settings: 'salt' on, 'liga' off;

/* Text / Gray 900 */
color: #18191F;

transform: rotate(-0.35deg);

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Menu Item / Default */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 10px;

width: 125px;
height: 20px;

transform: rotate(-0.35deg);

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Label */

width: 125px;
height: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 20px;
/* identical to box height, or 83% */
font-feature-settings: 'salt' on, 'liga' off;

/* Text / Gray 900 */
color: #18191F;

transform: rotate(-0.35deg);

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Menu Item / Default */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 10px;

width: 65px;
height: 20px;

transform: rotate(-0.35deg);

/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* Label */

width: 65px;
height: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 20px;
/* identical to box height, or 83% */
font-feature-settings: 'salt' on, 'liga' off;

/* Text / Gray 900 */
color: #18191F;

transform: rotate(-0.35deg);

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Menu Item / Default */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 10px;

width: 109px;
height: 20px;

transform: rotate(-0.35deg);

/* Inside auto layout */
flex: none;
order: 4;
flex-grow: 0;


/* Label */

width: 109px;
height: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 20px;
/* identical to box height, or 83% */
font-feature-settings: 'salt' on, 'liga' off;

/* Text / Gray 900 */
color: #18191F;

transform: rotate(-0.35deg);

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Logotype / Dark */

position: absolute;
left: 2.71%;
right: 88.87%;
top: 3.78%;
bottom: 91.54%;



/* Logomark / Color */

position: absolute;
left: 0%;
right: 73.33%;
top: 0%;
bottom: 0%;



/* Logo */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* Rectangle 587 */

position: absolute;
left: 2.05%;
right: 34.93%;
top: 70.89%;
bottom: 0%;

/* Brand / Pink */
background: #F22BB2;


/* Rectangle 591 */

position: absolute;
left: 3.57%;
right: 67.32%;
top: 0%;
bottom: 28.08%;

/* Brand / Purple */
background: #8C30F5;


/* Rectangle 587 */

position: absolute;
left: 34.93%;
right: 2.05%;
top: 0%;
bottom: 70.89%;

/* Brand / Orange */
background: #FE9A22;


/* Rectangle 591 */

position: absolute;
left: 68.84%;
right: 2.05%;
top: 26.37%;
bottom: 1.71%;

/* Brand / Turquoise */
background: #2EC5CE;


/* Landify */

position: absolute;
left: 35.43%;
right: 0.11%;
top: 23.29%;
bottom: 10.68%;

/* Default / Black */
background: #0B0D17;


/* Search Bar 6 */

position: absolute;
left: 72.4%;
right: 8.54%;
top: 3.78%;
bottom: 91.57%;



/* Rectangle 18 */

position: absolute;
left: 72.4%;
right: 8.54%;
top: 3.78%;
bottom: 91.57%;

background: #E5E9F2;
border-radius: 25px;


/* Group 4 */

position: absolute;
left: 88.76%;
right: 9.28%;
top: 4.42%;
bottom: 92.21%;



/* Rectangle 22 */

box-sizing: border-box;

position: absolute;
left: 88.76%;
right: 9.28%;
top: 4.42%;
bottom: 92.21%;

border: 1px solid rgba(0, 0, 0, 0.26);
border-radius: 15px;


/* Iconsax/Linear/searchnormal1 */

position: absolute;
left: 89.33%;
right: 9.86%;
top: 5.47%;
bottom: 93.3%;



/* Vector */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 8.33%;
bottom: 8.33%;

border: 1.5px solid rgba(0, 0, 0, 0.57);


/* Avatar / User-60 */

position: absolute;
width: 60px;
height: 60px;
left: 1291px;
top: 12px;

background: #E5E9F2;
border-radius: 30px;


/* Rectangle */

position: absolute;
width: 24px;
height: 24px;
left: 18px;
top: 10px;

background: #CDDC39;
border-radius: 24px;


/* Rectangle */

position: absolute;
width: 90px;
height: 90px;
left: -15px;
top: 40px;

background: #CDDC39;
border-radius: 90px;


/* Rectangle 592 */

position: absolute;
width: 952px;
height: 328px;
left: 37px;
top: 204px;

background: rgba(155, 187, 89, 0.65);


/* Hero */

position: absolute;
width: 463.16px;
height: 333.12px;
left: 36.95px;
top: 198.88px;

mix-blend-mode: normal;


/* Argentina */

position: absolute;
width: 250.13px;
height: 36.46px;
left: 40.7px;
top: 198.88px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 56px;

color: #121221;

border: 1px solid rgba(0, 0, 0, 0.47);


/* Rectangle 2 */

position: absolute;
width: 278.67px;
height: 276.17px;
left: 36.95px;
top: 255.83px;

background: url(image);
border: 1px solid rgba(0, 0, 0, 0.47);


/* Nisi, sagittis aliquet sit rutrum. Nunc, id vestibulum quam ornare adipiscing. Pellentesque sed turpis nunc gravida pharetra... */

position: absolute;
width: 172.47px;
height: 224.7px;
left: 327.64px;
top: 240.34px;

font-family: 'Playfair Display';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 180%;
/* or 65px */

/* Black 60% */
color: #444444;

border: 1px solid rgba(0, 0, 0, 0.47);


/* 2 Hours Ago */

position: absolute;
width: 42.8px;
height: 11.76px;
left: 61.14px;
top: 484.76px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 150%;
/* or 18px */

color: #000000;



/* CNN Indonesia */

position: absolute;
width: 57px;
height: 12px;
left: 121px;
top: 485px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 150%;
/* or 18px */

color: #000000;



/* Hero */

position: absolute;
width: 465.92px;
height: 330.12px;
left: 520.33px;
top: 201.88px;



/* Brasil */

position: absolute;
width: 251.62px;
height: 36.46px;
left: 524.1px;
top: 201.88px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 56px;

/* Black 80% */
color: #121221;



/* Rectangle 2 */

position: absolute;
width: 280.33px;
height: 276.17px;
left: 520.33px;
top: 255.83px;

background: url(image);


/* Nisi, sagittis aliquet sit rutrum. Nunc, id vestibulum quam ornare adipiscing. Pellentesque sed turpis nunc gravida pharetra... */

position: absolute;
width: 173.5px;
height: 224.7px;
left: 812.74px;
top: 240.34px;

font-family: 'Playfair Display';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 180%;
/* or 65px */

/* Black 60% */
color: #444444;



/* 2 Hours Ago */

position: absolute;
width: 43.05px;
height: 11.76px;
left: 544.67px;
top: 484.76px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 150%;
/* or 18px */

color: #000000;



/* CNN Indonesia */

position: absolute;
width: 73px;
height: 12px;
left: 605px;
top: 485px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 150%;
/* or 18px */

color: #000000;



/* Button */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 6px 12px;
gap: 10px;

position: absolute;
width: 78px;
height: 28px;
left: 899px;
top: 491px;

/* Brand / Purple 100 */
background: #F1E4FF;
border-radius: 6px;


/* Label */

width: 54px;
height: 16px;

/* Label / Small Label */
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
text-align: center;
font-feature-settings: 'salt' on, 'liga' off;

color: #EC04F1;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Line 1 (Stroke) */

position: absolute;
width: 342px;
height: 1px;
left: 1000px;
top: 199px;

background: #000000;


/* Headings / h4 */

position: absolute;
height: 32px;
left: 3.81%;
right: 66.91%;
top: calc(50% - 32px/2 - 206px);

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 32px;
/* identical to box height, or 133% */
font-feature-settings: 'salt' on, 'liga' off;

color: #000000;



/* Headings / h4 */

position: absolute;
height: 32px;
left: 74.45%;
right: -3.73%;
top: calc(50% - 32px/2 - 206px);

/* Heading / H5 */
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 32px;
/* identical to box height, or 133% */
font-feature-settings: 'salt' on, 'liga' off;

color: #000000;



/* Rectangle 593 */

position: absolute;
width: 345px;
height: 631px;
left: 997px;
top: 204px;

background: rgba(155, 187, 89, 0.65);


/* Button */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 6px 12px;
gap: 10px;

position: absolute;
width: 78px;
height: 28px;
left: 432px;
top: 491px;

/* Brand / Purple 100 */
background: #F1E4FF;
border-radius: 6px;


/* Label */

width: 54px;
height: 16px;

/* Label / Small Label */
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
text-align: center;
font-feature-settings: 'salt' on, 'liga' off;

color: #EC04F1;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Rectangle 6 */

position: absolute;
width: 323px;
height: 129px;
left: 1007px;
top: 212px;

background: #FFFFFF;
box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);


/* Rectangle 7 */

position: absolute;
width: 87px;
height: 92px;
left: 1017px;
top: 221px;

background: url(image.png);
filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));


/* Lionel Messi */

position: absolute;
width: 161px;
height: 16px;
left: 1120px;
top: 231px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 23px;

color: #000000;



/* "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do... */

position: absolute;
width: 194px;
height: 52px;
left: 1120px;
top: 261px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;

color: #000000;



/* clarity:bookmark-solid */

position: absolute;
width: 13px;
height: 14px;
left: 1299px;
top: 231px;



/* Vector */

position: absolute;
left: 22.22%;
right: 22.22%;
top: 5.56%;
bottom: 5.55%;

background: #414B5A;


/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* Rectangle 594 */

position: absolute;
width: 323px;
height: 129px;
left: 1007px;
top: 357px;

background: #FFFFFF;
box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);


/* Rectangle 595 */

position: absolute;
width: 87px;
height: 92px;
left: 1018px;
top: 366px;

background: url(image);
filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));


/* Cristiano Ronaldo */

position: absolute;
width: 161px;
height: 16px;
left: 1121px;
top: 376px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 23px;

color: #000000;



/* "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do... */

position: absolute;
width: 194px;
height: 52px;
left: 1121px;
top: 406px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;

color: #000000;



/* clarity:bookmark-solid */

position: absolute;
width: 13px;
height: 14px;
left: 1300px;
top: 376px;



/* Vector */

position: absolute;
left: 22.22%;
right: 22.22%;
top: 5.56%;
bottom: 5.55%;

background: #414B5A;


/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* Rectangle 596 */

position: absolute;
width: 323px;
height: 129px;
left: 1007px;
top: 500px;

background: #FFFFFF;
box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);


/* Rectangle 597 */

position: absolute;
width: 87px;
height: 92px;
left: 1017px;
top: 509px;

background: url(image.png);
filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));


/* Kylian Mbappe */

position: absolute;
width: 161px;
height: 16px;
left: 1120px;
top: 519px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 23px;

color: #000000;



/* "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do... */

position: absolute;
width: 194px;
height: 52px;
left: 1120px;
top: 549px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;

color: #000000;



/* clarity:bookmark-solid */

position: absolute;
width: 13px;
height: 14px;
left: 1299px;
top: 519px;



/* Vector */

position: absolute;
left: 22.22%;
right: 22.22%;
top: 5.56%;
bottom: 5.55%;

background: #414B5A;


/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* .Thumb Size / 25% */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;

position: absolute;
width: 13px;
height: 621px;
left: 1351px;
top: 147px;



/* Thumb */

width: 6px;
height: 155.25px;

/* Denim/24% Center Channel Text */
background: rgba(63, 67, 80, 0.24);
border-radius: 3px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* Track Spacer */

width: 6px;
height: 155.25px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* Track Spacer */

width: 6px;
height: 155.25px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 1;


/* Track Spacer */

width: 6px;
height: 155.25px;


/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 1;


/* Rectangle 598 */

position: absolute;
width: 323px;
height: 129px;
left: 1006px;
top: 645px;

background: #FFFFFF;
box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);


/* Rectangle 599 */

position: absolute;
width: 87px;
height: 92px;
left: 1016px;
top: 654px;

background: url(image.png);
filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));


/* Neymar Jr. */

position: absolute;
width: 161px;
height: 16px;
left: 1119px;
top: 664px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 23px;

color: #000000;



/* "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do... */

position: absolute;
width: 194px;
height: 52px;
left: 1119px;
top: 694px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;

color: #000000;



/* Line 1 (Stroke) */

position: absolute;
width: 316px;
height: 1px;
left: 25px;
top: 571px;

background: #000000;


/* clarity:bookmark-solid */

position: absolute;
width: 13px;
height: 14px;
left: 1298px;
top: 664px;



/* Vector */

position: absolute;
left: 22.22%;
right: 22.22%;
top: 5.56%;
bottom: 5.55%;

background: #414B5A;


/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* News Cards */

position: absolute;
width: 952px;
height: 219px;
left: 37px;
top: 541px;



/* Últimas Noticias */

position: absolute;
width: 357px;
height: 24.69px;
left: 52px;
top: 541px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 29px;

/* Black 80% */
color: #121221;



/* Group 2 */

position: absolute;
width: 219.69px;
height: 183.13px;
left: 37px;
top: 576.87px;



/* Hace 32 min */

position: absolute;
width: 86px;
height: 9px;
left: 37px;
top: 751px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 14px;

/* Black 20% */
color: #949494;



/* Marca.es */

position: absolute;
width: 65.91px;
height: 8.72px;
left: 131px;
top: 751px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 14px;

/* Black 20% */
color: #949494;



/* News Title Lorem Ipsum Dolor Sit */

position: absolute;
width: 219.69px;
height: 39.87px;
left: 37px;
top: 696.46px;

font-family: 'Playfair Display';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 27px;

/* Black 80% */
color: #121221;



/* Rectangle 3 */

position: absolute;
width: 219.69px;
height: 109.63px;
left: 37px;
top: 576.87px;

background: url(image);


/* Group 3 */

position: absolute;
width: 219.79px;
height: 183.13px;
left: 281px;
top: 576.87px;



/* Hace 59 min */

position: absolute;
width: 78px;
height: 9px;
left: 281px;
top: 751px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 14px;

/* Black 20% */
color: #949494;



/* As.com */

position: absolute;
width: 65.91px;
height: 8.72px;
left: 377px;
top: 751px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 14px;

/* Black 20% */
color: #949494;



/* News Title Lorem Ipsum Dolor Sit */

position: absolute;
width: 219.69px;
height: 39.87px;
left: 281.1px;
top: 696.46px;

font-family: 'Playfair Display';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 27px;

/* Black 80% */
color: #121221;



/* Rectangle 4 */

position: absolute;
width: 219.69px;
height: 109.63px;
left: 281.1px;
top: 576.87px;

background: url(image);


/* Group 4 */

position: absolute;
width: 219.9px;
height: 183.13px;
left: 525px;
top: 576.87px;



/* Hace 1 hora */

position: absolute;
width: 74px;
height: 9px;
left: 525px;
top: 751px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 14px;

/* Black 20% */
color: #949494;



/* marca.es */

position: absolute;
width: 65.91px;
height: 8.72px;
left: 616px;
top: 751px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 14px;

/* Black 20% */
color: #949494;



/* News Title Lorem Ipsum Dolor Sit */

position: absolute;
width: 219.69px;
height: 39.87px;
left: 525.21px;
top: 696.46px;

font-family: 'Playfair Display';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 27px;

/* Black 80% */
color: #121221;



/* Rectangle 5 */

position: absolute;
width: 219.69px;
height: 109.63px;
left: 525.21px;
top: 576.87px;

background: url(image);


/* Group 5 */

position: absolute;
width: 220px;
height: 183.13px;
left: 769px;
top: 576.87px;



/* Hace 1 hora */

position: absolute;
width: 76px;
height: 9px;
left: 769px;
top: 751px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 14px;

/* Black 20% */
color: #949494;



/* marca.es */

position: absolute;
width: 65.91px;
height: 8.72px;
left: 857px;
top: 751px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 14px;

/* Black 20% */
color: #949494;



/* News Title Lorem Ipsum Dolor Sit */

position: absolute;
width: 219.69px;
height: 39.87px;
left: 769.31px;
top: 696.46px;

font-family: 'Playfair Display';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 27px;

/* Black 80% */
color: #121221;



/* Rectangle 6 */

position: absolute;
width: 219.69px;
height: 109.63px;
left: 769.31px;
top: 576.87px;

background: url(image);


/* Line 1 (Stroke) */

position: absolute;
width: 316px;
height: 1px;
left: 25px;
top: 199px;

background: #000000;
